.wrapper {
  position: relative;
}

.input {
  flex-shrink: 1;
  height: 3rem;
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 1rem;
  line-height: 2;
  line-height: 1.5rem;
  border-width: 1px;
  border-color: hsl(var(--bc) / var(--tw-border-opacity));
  --tw-border-opacity: 0.2;
  --tw-bg-opacity: 1;
  background-color: hsl(var(--b1) / var(--tw-bg-opacity));
  border-radius: var(--rounded-btn, 0.5rem);
  transition: all 0.2s;
}

.input:focus {
  outline-style: solid;
  outline-width: 2px;
  outline-offset: 2px;
  outline-color: hsl(var(--bc) / 0.2);
}

.input:focus-visible {
}

.inputLabeled::placeholder {
  color: transparent;
}

input:focus + .inputLabel,
input:not(:placeholder-shown) + .inputLabel {
  opacity: 1;
  pointer-events: auto;
  transform-origin: left center;
  transform: translateX(0) translateY(-2.8rem) scale(0.8);
}

.inputLabel {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateX(1rem) translateY(-50%);
  pointer-events: none;
  opacity: 0.5;
  transition: all 0.3s;
}
