.MessageTemplateEditor {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.varButtons {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem;
}

.buttonsWrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem;
}

.editorWrapper {
  overflow: auto;
  padding: 0.5rem 1.5rem;
}

.footerWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-top: auto;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
