.ifThenElseContainer {
  margin-bottom: 0.2rem;
  display: flex;
  width: 100%;
}

.label {
  box-sizing: border-box;
  width: 4.6rem;
  padding-right: 0.4rem;
  display: flex;
  justify-content: flex-end;
}

.ifContainer {
  margin-bottom: 0.2rem;
  width: 100%;
}

.thenContainer {
  margin-bottom: 0.2rem;
  width: 100%;
}

.elseContainer {
  margin-bottom: 0.2rem;
  width: 100%;
}
