.loading {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  inset: 0;
  background-color: rgba(255, 255, 255, 0.8);
}

.githubLink {
  position: fixed;
  right: 2rem;
  top: 2rem;
}